@charset "UFT-8";

/* 共通部分 */
html {
  font-size: 1rem;
  body {
    font-family: sans-serif, "メイリオ", "Meiryo";
    line-height: 1.7;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;

    a {
      text-decoration: none; /*下線引かない*/
      display: block; /*ブロック要素に*/
    }
    img {
      max-width: 100%; /*画像がはみ出さないように*/
    }

    #top_img {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999; /* 一番手前に */
      img {
        width: 100vw;
        height: 100vh;
      }
    }

    header {
      width: 20vw;
      height: 100vh;
      background-color: #000;
      ul {
        width: 20vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li {
          a {
            padding: 0;
            width: 12vw;
            height: 12vw;
            img {
              width: 12vw;
              height: 12vw;
            }
          }
        } //li
      } //ul
    } //header

    main {
      width: 85vw;
      height: 100vh;
      .section {
        /* widthやheightの値は要カスタマイズ */
        .model-viewer {
          width: 85vw;
          height: 100vh;
          background-image: url(../image/space.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        ​ .model-viewer-btn {
          position: absolute;
          right: 16px;
          bottom: 10px;
          height: 26px;
          font-weight: bold;
          line-height: 26px;
          color: white;
          background-color: #6b6868;
          border: none;
        }
      } //section

      /*
      .btn {
        padding: 8px 24px;
        color: white;
        opacity: 0.8;
        border-radius: 4px;
        background-color: #f778b8;
        cursor: pointer;
        box-shadow: 0 5px #e04893;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
    
      } //btn
      へこむボタン*/
    } //main
  } //body
} //html
