@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 1rem;
}

html body {
  font-family: sans-serif, "メイリオ", "Meiryo";
  line-height: 1.7;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

html body a {
  text-decoration: none;
  /*下線引かない*/
  display: block;
  /*ブロック要素に*/
}

html body img {
  max-width: 100%;
  /*画像がはみ出さないように*/
}

html body .header {
  height: 10vw;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 1025px) {
  html body .header {
    height: 5vw;
  }
}

html body .header .header_left {
  height: 10vw;
}

@media (min-width: 1025px) {
  html body .header .header_left {
    height: 5vw;
  }
}

html body .header .header_right {
  display: flex;
}

html body .header .header_right .cart {
  height: 8vw;
}

@media (min-width: 1025px) {
  html body .header .header_right .cart {
    display: none;
  }
}

html body .header .header_right .cart_pc {
  display: none;
}

@media (min-width: 1025px) {
  html body .header .header_right .cart_pc {
    display: block;
    height: 4vw;
  }
}

html body header {
  width: 20vw;
  height: calc(100vh - 10vw);
  background-image: url(../image/sidebar_smf.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 10vw;
  left: 0;
}

@media (min-width: 1025px) {
  html body header {
    padding: 0 5vw 0 5vw;
    width: 25vw;
    height: calc(100vh - 5vw);
    top: 5vw;
    background-image: url(../image/sidebar_pc.png);
    background-size: 100% 100vh;
  }
}

html body header ul {
  padding-top: 0;
  width: 20vw;
  height: calc(100vh - 10vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  html body header ul {
    width: 15vw;
    height: calc(100vh - 5vw);
    justify-content: space-between;
  }
}

html body header ul li .secList {
  padding: 0;
  width: 12vw;
  height: 12vw;
}

@media (min-width: 1025px) {
  html body header ul li .secList {
    width: 6vw;
    height: 6vw;
  }
}

html body header ul li .secList img {
  width: 12vw;
  height: 12vw;
}

@media (min-width: 1025px) {
  html body header ul li .secList img {
    width: 6vw;
    height: 6vw;
  }
}

html body header ul li .active {
  opacity: 0.5;
}

html body main {
  width: 85vw;
  height: calc(100vh - 10vw);
  position: fixed;
  top: 10vw;
  left: 20vw;
  /*
      .btn {
        padding: 8px 24px;
        color: white;
        opacity: 0.8;
        border-radius: 4px;
        background-color: #f778b8;
        cursor: pointer;
        box-shadow: 0 5px #e04893;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
    
      } //btn
      へこむボタン*/
}

@media (min-width: 1025px) {
  html body main {
    width: 75vw;
    height: calc(100vh - 5vw);
    top: 5vw;
    left: 25vw;
  }
}

html body main .instagram {
  position: fixed;
  top: 10vw;
  right: 0;
  z-index: 98;
}

@media (min-width: 1025px) {
  html body main .instagram {
    top: 5vw;
  }
}

html body main .line {
  position: fixed;
  bottom: 5vw;
  right: 1vw;
  z-index: 98;
}

html body main .section {
  /* widthやheightの値は要カスタマイズ */
}

html body main .section .model-viewer {
  width: 80vw;
  height: calc(100vh - 10vw);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1025px) {
  html body main .section .model-viewer {
    width: 75vw;
    height: calc(100vh - 5vw);
  }
}

html body main .section ​ .model-viewer-btn {
  position: absolute;
  right: 16px;
  bottom: 10px;
  height: 26px;
  font-weight: bold;
  line-height: 26px;
  color: white;
  background-color: #6b6868;
  border: none;
}

html body main .section .model1 {
  background-image: url(../image/bg1_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model1 {
    background-image: url(../image/bg1_pc.png);
  }
}

html body main .section .model2 {
  background-image: url(../image/bg2_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model2 {
    background-image: url(../image/bg2_pc.png);
  }
}

html body main .section .model3 {
  background-image: url(../image/bg1_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model3 {
    background-image: url(../image/bg1_pc.png);
  }
}

html body main .section .model4 {
  background-image: url(../image/bg2_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model4 {
    background-image: url(../image/bg2_pc.png);
  }
}

html body main .section .model5 {
  background-image: url(../image/bg1_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model5 {
    background-image: url(../image/bg1_pc.png);
  }
}

html body main .section .model6 {
  background-image: url(../image/bg2_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model6 {
    background-image: url(../image/bg2_pc.png);
  }
}

html body main .section .model7 {
  background-image: url(../image/bg1_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model7 {
    background-image: url(../image/bg1_pc.png);
  }
}

html body main .section .model8 {
  background-image: url(../image/bg2_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model8 {
    background-image: url(../image/bg2_pc.png);
  }
}

html body main .section .model9 {
  background-image: url(../image/bg1_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model9 {
    background-image: url(../image/bg1_pc.png);
  }
}

html body main .section .model10 {
  background-image: url(../image/bg2_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model10 {
    background-image: url(../image/bg2_pc.png);
  }
}
