@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 1rem;
}

html body {
  font-family: sans-serif, "メイリオ", "Meiryo";
  line-height: 1.7;
  text-align: left;
}

html body a {
  text-decoration: none;
  /*下線引かない*/
  display: block;
  /*ブロック要素に*/
  color: #000;
}

html body img {
  max-width: 100%;
  /*画像がはみ出さないように*/
  display: block;
}

html body ul {
  list-style-type: none;
  /*listに-bl点つけない*/
}

html body header {
  width: 100vw;
  height: 5vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

html body header a {
  padding-top: 1vw;
  padding-left: 2vw;
  width: 17vw;
  height: 4vw;
}

html body header a img {
  width: 8vw;
  height: 4vw;
}

html body header ul {
  width: 83vw;
  padding-right: 70px;
  display: flex;
  justify-content: flex-end;
}

html body header ul li {
  height: 5vw;
  width: 7vw;
}

html body header ul li a {
  padding: 0;
  height: 5vw;
  width: 7vw;
  font-size: 1vw;
  line-height: 9vw;
}

html body header .hamburger-menu {
  /* ボタンの×マーク */
  /*閉じる用の薄黒箇所*/
  /* 黒いとこいったん外へ */
  /*チェックがついたら表示させる*/
  /* ここまでハンバーガー--------------------------------------------------- */
}

html body header .hamburger-menu .menu-btn {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  z-index: 8;
  background-color: #fff;
}

html body header .hamburger-menu .menu-btn span {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #000;
  position: absolute;
}

html body header .hamburger-menu .menu-btn span::before {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #000;
  position: absolute;
  bottom: 8px;
}

html body header .hamburger-menu .menu-btn span::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #000;
  position: absolute;
  top: 8px;
}

html body header .hamburger-menu #menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

html body header .hamburger-menu #menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

html body header .hamburger-menu #menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

html body header .hamburger-menu .unshown {
  display: none;
  /* チェックボックス隠す */
}

html body header .hamburger-menu .menu-content {
  /* メニューをいったん外へ */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 7;
  background-color: #fff;
  transition: all 0.2s;
  /*アニメーション設定*/
}

html body header .hamburger-menu .menu-content ul {
  padding: 36px 10px 0;
}

html body header .hamburger-menu .menu-content ul li {
  border-bottom: solid 1px #000;
  list-style: none;
}

html body header .hamburger-menu .menu-content ul li a {
  display: block;
  width: 70%;
  font-size: 15px;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  margin-bottom: 5px;
  position: relative;
}

html body header .hamburger-menu .menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

html body header .hamburger-menu #menu-btn-check:checked ~ .menu-content {
  top: 70px;
  left: 30%;
  /*ボタンタップでメニューを画面内へ*/
}

html body header .hamburger-menu #nav-close {
  position: fixed;
  z-index: 11;
  top: 70px;
  right: 100%;
  /*rightの値を変更してメニューを画面外へ*/
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  transition: all 0.2s;
  /*アニメーション設定*/
}

html body header .hamburger-menu #menu-btn-check:checked ~ #nav-close {
  top: 70px;
  right: 70%;
  /*ボタンタップでメニューを画面内へ*/
  display: block;
}

html body main {
  padding-top: 10vw;
  /*
      .btn {
        padding: 8px 24px;
        color: white;
        opacity: 0.8;
        border-radius: 4px;
        background-color: #f778b8;
        cursor: pointer;
        box-shadow: 0 5px #e04893;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
    
      } //btn
      へこむボタン*/
}

html body main .channel {
  padding-left: 2vw;
  display: flex;
}

html body main .channel .channel-link {
  font-size: 1vw;
}

html body main .channel .arrow {
  margin: 0 0.5vw;
  font-size: 1vw;
}

html body main .instagram-btn {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 70px;
  right: 0;
}

html body main .commodity-container {
  margin: 2vw 2vw 0 2vw;
  width: 96vw;
  display: flex;
}

html body main .commodity-container .model-viewer {
  width: 46vw;
  height: 56vw;
}

html body main .commodity-container .model-viewer .custom-ar-button {
  width: 0;
  height: 0;
}

html body main .commodity-container .commodity-description {
  width: 50vw;
}

html body main .commodity-container .commodity-description .commodity-name {
  margin-bottom: 1.5vw;
  font-size: 1.4vw;
  font-weight: 600;
}

html body main .commodity-container .commodity-description .commodity-name span {
  margin-left: 1vw;
  padding: 0.2vw;
  font-size: 1vw;
  font-weight: 300;
  border: 1px solid #000;
}

html body main .commodity-container .commodity-description .commodity-price {
  margin-bottom: 2vw;
  font-size: 1.4vw;
  font-weight: 600;
}

html body main .commodity-container .commodity-description .commodity-price span {
  margin-left: 0.5vw;
  font-size: 1vw;
  font-weight: bold;
}

html body main .commodity-container .commodity-description .commodity-option {
  margin-bottom: 1.5vw;
  display: flex;
}

html body main .commodity-container .commodity-description .commodity-option a {
  width: 8vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  border: 1px solid #000;
}

html body main .commodity-container .commodity-description .commodity-option .white {
  color: #fff;
  background-color: #000;
}

html body main .commodity-container .commodity-description .commodity-details {
  margin-bottom: 1.5vw;
  color: gray;
  font-size: 1.1vw;
  font-weight: 100;
}

html body main .commodity-container .commodity-description .forms {
  margin: 3vw 0 2vw 0;
  width: 50vw;
}

html body main .commodity-container .commodity-description .forms .form-item {
  display: inline-block;
}

html body main .commodity-container .commodity-description .forms .form-item input {
  width: 10vw;
  border: 1px solid #979797;
  border-radius: 3px;
}

html body main .commodity-container .commodity-description .forms .form-a {
  width: 10vw;
  margin-left: 5vw;
}

html body main .commodity-container .commodity-description .forms .form-a input {
  background-color: #f5f5f5;
}

html body main .commodity-container .commodity-description .forms .form-b {
  width: 10vw;
  margin-left: 0.5vw;
}

html body main .commodity-container .commodity-description .forms .form-b input {
  background-color: #f5f5f5;
}

html body main .commodity-container .commodity-description .forms .form-c {
  margin-left: 5vw;
  width: 10vw;
}

html body main .commodity-container .commodity-description .forms .form-c input {
  width: 3vw;
}

html body main .commodity-container .commodity-description .shopping-btn {
  margin: 2vw auto;
  width: 30vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

html body main .commodity-container .commodity-description .reserve-btn {
  margin: 2vw auto;
  width: 30vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

html body main .commodity-container .commodity-description .wish-btn {
  margin: 2vw auto;
  padding-bottom: 2px;
  width: 10vw;
  height: 1.5vw;
  line-height: 1.5vw;
  font-size: 1vw;
  text-align: center;
  border-bottom: 1px solid #000;
}

html body main .commodity-container .commodity-description .line-btn {
  margin: 2vw auto;
  width: 15vw;
}
